/* REGISTRATION PAGE ONLY */

.container {
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.row {
    display: flex;
    gap: 10px;
}

button {
    background: #1c4e80;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background: #163a60;
}/* REGISTRATION PAGE ONLY */

.container {
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.row {
    display: flex;
    gap: 10px;
}

button {
    background: #1c4e80;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background: #163a60;
}